@model DirectorVM
@{
    ViewData["Title"] = "Director";
}

<br />
<h2 class="text-center"><strong>Додати нового</strong></h2>
<br />

@if (Model.Name != null)
{
    <p>One is already checked</p>
}
else
{
    <table class="table">
        <tr><th>Ім'я та прізвище</th><th></th></tr>
        @foreach (var user in Model.Employees)
        {
            <tr>
                <td>@user.Name</td>
                <td>
                    <form asp-action="AddNew" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Підвищити до директора
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}



