@model Bus;
@{
    ViewData["Title"] = "Редагування";
}

<br />
<h2 class="text-center"><strong>Редагування даних автобуса @Model.Make @Model.Model</strong></h2>
<br />
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-sm-3 col-10 offset-2 offset-sm-0">
            @using (Html.BeginForm("EditBus", "DirectorCabinet", FormMethod.Post))
            {
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" hidden/>
                </div>
                <div class="form-group">
                    <label asp-for="Make" class="control-label">Make</label>
                    <input asp-for="Make" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label">Model</label>
                    <input asp-for="Model" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ProductionYear" class="control-label">ProductionYear</label>
                    <input asp-for="ProductionYear" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Зберегти" class="btn btn-lg btn-block" />
                </div>
            }
        </div>
    </div>
</div>
