@model IEnumerable<BusStationSystem.ViewModels.RoutesVM>
@{
    ViewData["Title"] = "ViewRouts";
}

<h2>Перегляд рейсів</h2>

<br />
<h2 class="text-center"><strong>Перегляд рейсів</strong></h2>
<br />
<table class="table">
    <tr><th>Ім'я та прізвище</th><th>Пароль</th><th></th><th></th><th></th></tr>
    @foreach (var route in Model)
    {
    <tr>
        <td>@route.Destination</td>
        <td>@route.BusType</td>
        <td>@route.PlaceCount</td>
        <td>@route.OccupiedPlaceCount</td>
    </tr>
    }
</table>